
.pfid-balance{
  background: #3A3F44;
  height: 60px;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
}

.pfid-balance span{
  color: #fff;
}

a{
  color: #1890ff;
}

.ant-btn-link{
  color: #1890ff;
}

.card-bg{
  background: #3A3F44;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  color: rgb(170,170,170) !important;
}

/*.ant-card-head-title{*/
/*  color: #f7f7f7 !important;*/

/*}*/

.ant-card-head{
  border-bottom:unset !important;
  /*background:rgb(68,75,81);*/
}

.ant-card-head span {
  color: #f7f7f7;
}



.pfid-title{
  height: 60px;
  border-radius: 5px;
  padding: 15px;
  font-size: 24px;
  font-weight: 600;
}

