.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 48px;
  /*background: rgba(255, 255, 255, 0.2);*/
  margin: 10px 0 24px 16px;
}


.site-layout .site-layout-background {
  background: #fff;
}

.layout{
  /*max-width: 1140px;*/
}

.ant-layout.ant-layout-has-sider{
  /*width: 100%;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

div{
  /*display: block;*/
}

.ant-menu-item span{
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
}

*{
  /*font-family: -apple-system, system-ui, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;*/
  font-family: FT Base,-apple-system,system-ui,BlinkMacSystemFont,SF Pro Text,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  letter-spacing: .02rem;
}


.head-account{
  font-size: 16px;
  font-weight: 400;
  padding: 0 5px;
}

.txListDropDown{
  padding:0 30px 0;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
